extends layout

block content
	#blogpost
		if blogpost
			h3 add new blogpost
			form(action="http://rtyertye.com/blogpost" method="post")
				textarea(name="text")
				button add
			- for (var i = blogpost.length - 1; i >= 0; i--) {
				span= blogpost[i].firstname +" "+ blogpost[i].lastname + " writes"
				p= blogpost[i].content
				hr
			-}
			a(href="/", class="sign-out") account page ←
		else
			h3 add new blogpost
			form(action="http://rtyertye.com/blogpost" method="post")
				textarea(name="text")
				button add
			a(href="/", class="sign-out") account page ←