extends layout

block content
<<<<<<< HEAD
	form(method="post" action="/register")
=======
	form(method="post" action="http://rtyertye.com/register")
>>>>>>> 39ce89294490c4df85f44d2cb43411ace1ffd676
		span(class="span_input") Firstname
		input(type="text" name="firstname" placeholder="enter your firstname" class="form-control")
		br
		span(class="span_input") Lastname
		input(type="text" name="lastname" placeholder="enter your lastname" class="form-control")
		br
		span(class="span_input") Username
		input(type="text" name="username" placeholder="enter username" class="form-control")
		br
		span(class="span_input") Password
		input(type="password" name="password" placeholder="enter password" class="form-control")
		br
<<<<<<< HEAD
		button(class="btn btn-primary") Register
	a(href="/") homepage
=======
		button(class="btn btn-primary") Register
>>>>>>> 39ce89294490c4df85f44d2cb43411ace1ffd676
