body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
textarea{
	resize: none;
}
.span_input{
	font-size: 16px;
<<<<<<< HEAD
}
.remove_form{
	display: inline-block;
=======
>>>>>>> 39ce89294490c4df85f44d2cb43411ace1ffd676
}